* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(241, 28, 28, 0.5), rgba(0, 0, 0, .5)), url("img/Forget.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Fcontainer {
    width: 450px;
    min-height: 250px;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: -30px 30px 20px rgb(2, 2, 2);
    padding: 80px 80px;
}

.Fcontainer .login-text {
    color: rgb(12, 11, 11);
    font-weight: 500;
    font-size: 2.1rem;
    text-align: center;
    margin-bottom: 20px;
    display: block;
    text-transform: capitalize;
}

.Fcontainer .login-email .input-group {
    width: 100%;
    height: 50px;
    margin-bottom: 25px;
}

.Fcontainer .login-email .input-group input {
    width: 100%;
    height: 100%;
    border: 2px solid #e7e7e7;
    padding: 15px 20px;
    font-size: 1rem;
    border-radius: 30px;
    background: transparent;
    outline: none;
    transition: .3s;
}

.Fcontainer .login-email .input-group .btn {
    display: block;
    width: 100%;
    padding: 15px 20px;
    text-align: center;
    border: none;
    box-shadow: #a29bfe;
    background: #a29bfe;
    outline: none;
    border-radius: 30px;
    font-size: 1.2rem;
    color: #FFF;
    cursor: pointer;
    transition: .3s;
}

.Fcontainer .login-email .input-group .btn:hover {
    transform: translateY(-5px);
    background: #6c5ce7;
}

@media (max-width: 430px) {
    .container {
        width: 300px;
    }
}